#header{
    padding: 20px;
}

#box{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr) ;
    grid-auto-rows: 2fr;
    /* grid-gap: 1.5rem; */
}

.blackra{
    display:none;
    height: 930px;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
}

#popup{
    display: flex;
    justify-content: center;
    flex-direction: column;
   height: 350px;
   width: 450px;
   /* background-image: linear-gradient(to left,blue, red, aqua); */
   background-image: linear-gradient(to left,#4267B2, white, #4267B2);
   border-radius: 20px;
   /* padding-top: 100px; */
}

#x-icon{
    padding-left: 400px;
    padding-top:30px;
    /* padding-bottom: 40px; */
}

#centreda{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top:300px;
    text-align: center;
}